body {
    padding: 25px;
    padding-top: 5px;
    background-color: #000000;
    background-image: url("assets/bg-formatted.png");
    background-size: cover;
    color: white;
    font-size: 25px;
    font-family: "Comfortaa", sans-serif;
    text-shadow: 7px 7px 7px #086FAA;
}

h1 {
    text-align: center;
    padding-top: 0px;
    font-weight: normal;
}

p1 {
    text-align: left;
    font-weight: normal;
    font-size: 15px;
    padding: 0px;
}

.center-text {
    text-align: center;
    display: block;
}