body {
    background: linear-gradient(130deg, rgba(31, 31, 190, 0.737), #104d86a8, #7c0034a4, #83200e9c, #7c1c41bb, #a06e76b2, #865e46b2, #43047096, #a80041ab);
    background-size: 500% 400%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    -webkit-animation: gradient 60s ease infinite;
    animation: gradient 60s ease infinite;
    background-color: #000000;
    color: rgba(255, 255, 255, 0.877);
    font-size: 20px;
    font-family: "Comfortaa", sans-serif;
}

@media (hover: hover) {
    body {
        overscroll-behavior: none;
    }
}

h1 {
    font-family: "Andika New Basic", sans-serif;
    font-size: 120px;
    text-align: center;
    font-weight: bolder;
}

h1.gradient-text {
    position: inline-block;
    font-weight: bolder;
    transition: 0.6s;
    opacity: 0.7;
    font-size: 6em;
    line-height: 100%;
    margin-top: 0.8em;
    /* Create the gradient. */
    background: linear-gradient(130deg, #1f1fbebc, #104d86a8, #7c0034a4, #83200e9c, #7c1c41bb, #a06e76b2, #865e46b2, #43047096, #a80041ab);
    /* Set the background size and repeat properties. */
    background-size: 500vw 400vh;
    /* Use the text as a mask for the background. */
    /* This will show the gradient as a text color rather than element bg. */
    background-clip: text;
    text-shadow: rgba(219, 219, 219, 0.24) 0px 0px 0px;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;
    -webkit-animation: gradient 60s ease infinite;
    animation: gradient 60s ease infinite;
}

h1.gradient-text:hover {
    opacity: 1;
    text-shadow: rgba(255, 255, 255, 0.466) 0px 0px 0px;
    ;
}

@media (hover: none) {
    h1.gradient-text:active {
        opacity: 1;
        text-shadow: rgba(255, 255, 255, 0.466) 0px 0px 0px;
        ;
    }
}

hr {
    border: 0;
    height: 2.5px;
    background: linear-gradient(130deg, #1f1fbebc, #104d86a8, #7c0034a4, #83200e9c, #7c1c41bb, #a06e76b2, #865e46b2, #43047096, #a80041ab);
    background-size: 500vw 400vh;
    -webkit-animation: gradient 60s ease infinite;
    animation: gradient 60s ease infinite;
}

@keyframes gradient {
    0% {
        background-position: 0% 40%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 40%;
    }
}

a {
    -webkit-tap-highlight-color: transparent;
}

div.nav-bar {
    z-index: 999;
    top: 0;
    left: 0;
    right: 0;
    height: 2.7em;
    background-color: rgba(37, 37, 37, 0.534);
    position: fixed;
    color: rgba(255, 255, 255, 0.712);
    font-size: 20px;
    font-family: "Comfortaa", sans-serif;
    -webkit-backdrop-filter: blur(40px);
    backdrop-filter: blur(40px);
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
    padding-top: 0.5em;
    padding-left: 15px;
    padding-right: 15px;
}

#overlayThin {
    background: rgba(0, 0, 0, 0.477);
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(3px);
    transition: 0.25s;
}

div.overflowMenu {
    visibility: hidden;
    position: fixed;
    right: 0;
    top: 3.5em;
    bottom: 0%;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
    overflow: auto;
    background-color: #00000049;
    font-size: 18px;
    z-index: 999;
    backdrop-filter: blur(40px);
    border-radius: 20px 0px 0px 20px;
    transform: translateX(100%);
    transition: 0.3s;
}

a.overflowMenuButton {
    color: #ffffff;
    background-color: #72727254;
    font-size: 20px;
    border-radius: 12px;
    cursor: pointer;
    display: flex;
    padding: 12px;
    margin: 15px;
    text-decoration: none;
    transition: 0.2s;
}

@media (hover: hover) {
    a.overflowMenuButton:hover {
        transition: 0.1s;
        /* x-offset y-offset z-index  length */
        box-shadow: 0px 0px 0px 4px #ffffff4e;
    }
    a.overflowMenuButton:active {
        background-color: #a0a0a052;
        opacity: 0.4;
        transition: 0.1s;
        box-shadow: 0px 0px 0px 2px #ffffff4e;
    }
}

@media (hover: none) {
    a.overflowMenuButton:active {
        opacity: 0.5;
        transition: 0.15s;
        box-shadow: 0px 0px 0px 4px #9b9b9b4b;
    }
}

#overflowMenuToggleButton {
    display: none;
}

@media (max-width: 730px) {
    #overflowMenuToggleButton {
        display: flex;
    }
}

div.alert {
    position: fixed;
    display: inline-block;
    z-index: 999;
    top: 95%;
    left: 50%;
    opacity: 0;
    -webkit-transform: translate3d(0%, -100%, 0);
    transform: scale(0) translate3d(0%, -100%, 0);
    background-color: #00000034;
    -webkit-backdrop-filter: blur(7px) saturate(150%) brightness(0.7);
    backdrop-filter: blur(7px) saturate(150%) brightness(0.7);
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
    padding: 12px;
    border-radius: 17px;
    transition: 0.5s;
    transition-timing-function: cubic-bezier(0.68, -0.6, 0.32, 1.6);
}

a.link-button {
    /* This is to vertically center the text */
    line-height: 25px;
    /**/
    -webkit-tap-highlight-color: transparent;
    font-family: "Comfortaa", sans-serif;
    font-size: 17px;
    background-color: #a1a1a131;
    color: rgb(255, 255, 255);
    border: solid 2px #a7a6a61e;
    border-radius: 17px;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    display: flex;
    cursor: pointer;
    transition: 0.5s;
}

a.disabled {
    pointer-events: none;
    opacity: 0.5;
}

@media (hover: hover) {
    a.link-button:hover {
        border-radius: 10px;
        background-color: #a1a1a100;
        border: solid 2px #c9c9c967;
        transition: 0.25s;
        -webkit-transform: scale(1.06);
        transform: scale(1.06);
        cursor: pointer;
        opacity: 1;
        box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
    }
    a.link-button:active {
        border: solid 2px #8d8d8d3d;
        transition: box-shadow 0.4s, transform 0s, opacity 0.3s, border 0.1s;
        -webkit-transform: scale(1);
        transform: scale(1);
        opacity: 0.5;
        box-shadow: 0 2px 2px 2px rgba(0, 0, 0, 0.18), 0 3px 3px 3px rgba(0, 0, 0, 0.15);
    }
}

@media (hover: none) {
    a.link-button:active {
        border: solid 2px #8d8d8d3d;
        transition: box-shadow 0.4s, transform 0s, opacity 0.3s, border 0.1s;
        -webkit-transform: scale(0.93);
        transform: scale(0.93);
        opacity: 0.5;
        box-shadow: 0 2px 2px 2px rgba(0, 0, 0, 0.18), 0 3px 3px 3px rgba(0, 0, 0, 0.15);
    }
}

button {
    /* This is to vertically center the text */
    line-height: 25px;
    /**/
    -webkit-tap-highlight-color: transparent;
    font-family: "Comfortaa", sans-serif;
    font-size: 17px;
    background-color: #a1a1a131;
    color: rgb(255, 255, 255);
    border: solid 2px #a7a6a61e;
    border-radius: 17px;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    display: flex;
    cursor: pointer;
    transition: 0.5s;
}

@media (hover: hover) {
    button:hover {
        border-radius: 10px;
        background-color: #a1a1a100;
        border: solid 2px #c9c9c967;
        transition: 0.25s;
        -webkit-transform: scale(1.06);
        transform: scale(1.06);
        cursor: pointer;
        opacity: 1;
        box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
    }
    button:active {
        border: solid 2px #8d8d8d3d;
        transition: box-shadow 0.4s, transform 0s, opacity 0.3s, border 0.1s;
        -webkit-transform: scale(1);
        transform: scale(1);
        opacity: 0.5;
        box-shadow: 0 2px 2px 2px rgba(0, 0, 0, 0.18), 0 3px 3px 3px rgba(0, 0, 0, 0.15);
    }
}

@media (hover: none) {
    button:active {
        border: solid 2px #8d8d8d3d;
        transition: box-shadow 0.4s, transform 0s, opacity 0.3s, border 0.1s;
        -webkit-transform: scale(0.93);
        transform: scale(0.93);
        opacity: 0.5;
        box-shadow: 0 2px 2px 2px rgba(0, 0, 0, 0.18), 0 3px 3px 3px rgba(0, 0, 0, 0.15);
    }
}

.material-icons-round.md-18 {
    font-size: 18px;
}

.material-icons-round.md-24 {
    font-size: 24px;
}

.material-icons-round.md-36 {
    font-size: 36px;
}

.material-icons-round.md-48 {
    font-size: 48px;
    color: rgba(206, 206, 206, 0.808);
    -webkit-transform: scale(1);
    transform: scale(1);
    transition: 0.2s;
}

div.center-text {
    text-align: center;
    display: block;
}

img.squeeze {
    opacity: 0.7;
    transition: 0.4s;
    -webkit-transform: scale(1);
    transform: scale(1);
    padding-right: 0px;
    padding-bottom: 0px;
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.315), 0 17px 50px 0 rgba(0, 0, 0, 0.295);
    border-radius: 50%;
}

@media (hover: hover) {
    img.squeeze:hover {
        box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.336), 0 17px 50px 0 rgba(0, 0, 0, 0.26);
        opacity: 1;
        transition: .2s;
        width: 50px;
        height: 50px;
    }
}

@media (hover: none) {
    img.squeeze:active {
        transition: 0.2s;
        height: 40px;
        width: 40px;
        box-shadow: 0 2px 2px 2px rgba(0, 0, 0, 0.18), 0 3px 3px 3px rgba(0, 0, 0, 0.15);
    }
}

@media (hover: hover) {
    img.squeeze:active {
        opacity: 0.4;
        transition: opacity 0.2s;
        height: 40px;
        width: 40px;
        box-shadow: 0 2px 2px 2px rgba(0, 0, 0, 0.18), 0 3px 3px 3px rgba(0, 0, 0, 0.15);
    }
}

img.padded-InLine {
    opacity: 0.9;
    transition: 0.3s;
    -webkit-transform: scale(1.3);
    transform: scale(1.3);
}

img.padded-InLine:hover {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1;
    transition: 0.2s;
}

img.blurred {
    width: 100%;
    transition: 0.7s;
    margin-bottom: -5px;
}

div.tooltip {
    position: relative;
    display: inline-block;
}

div.tooltip span.tooltiptext {
    font-size: 15px;
    text-shadow: 0 0 0;
    visibility: hidden;
    width: 170px;
    height: 25px;
    background-color: #00000034;
    animation: gradient 60s ease infinite;
    color: #ffffff;
    text-align: center;
    border-radius: 8px;
    padding-top: 9px;
    padding-bottom: 2px;
    -webkit-transform: scale(0.4);
    transform: scale(0.4);
    opacity: 0;
    -webkit-backdrop-filter: blur(7px) saturate(200%) brightness(0.75);
    backdrop-filter: blur(7px) saturate(200%) brightness(0.75);
    box-shadow: 0 10px 14px 0 rgba(0, 0, 0, 0.137), 0 15px 40px 0 rgba(0, 0, 0, 0.116);
    transition: 0.5s;
    transition-timing-function: cubic-bezier(0.68, -0.6, 0.32, 1.6);
    /* Position the tooltip */
    position: absolute;
    z-index: 1;
    margin-left: -100px;
    margin-top: -15px;
}

div.tooltip:hover span.tooltiptext {
    -webkit-transform: scale(1) translate3d(0px, -30px, 0px);
    transform: scale(1) translate3d(0px, -30px, 0px);
    transition-timing-function: cubic-bezier(0.68, -0.6, 0.32, 1.6);
    transition: 0.35s;
    opacity: 1;
    visibility: visible;
}

div.tab {
    width: 45.8%;
    height: 100%;
    background-color: #00000033;
    color: white;
    font-size: 1em;
    font-family: "Comfortaa", sans-serif;
    padding: 0;
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
    margin: 2%;
    border-radius: 17px;
    transition: 0.25s;
    position: relative;
    display: inline-grid;
}

div.tab img {
    height: 100%;
    width: 100%;
    border-radius: 18px;
}

div.tab:active {
    opacity: 0.5;
    transition: opacity 0s, box-shadow 0.2s;
    box-shadow: 0px 0px 0px 3px rgba(74, 74, 74, 0.18), 0px 0px 0px 3 rgba(79, 79, 79, 0.15);
}

@media (hover: none) {
    div.tab:active {
        -webkit-transform: scale(0.96);
        transform: scale(0.96);
        -webkit-filter: saturate(150%);
        filter: saturate(150%);
        transition: 0.25s;
        box-shadow: 0 2px 0px 2px rgba(0, 0, 0, 0.18), 0 0px 0px 3px rgba(0, 0, 0, 0.15);
    }
}

div.tabTextContainer {
    background-image: url(/assets/noisy-texture-100x100-o3-d10-c-1a1a1a80-t1.png);
    background-color: #1a1a1a80;
    height: 20%;
    width: 100%;
    bottom: -1px;
    left: 0%;
    border-radius: 0px 0px 17px 17px;
    transition: 0.25s;
    position: absolute;
    text-align: center;
    backdrop-filter: blur(5px) brightness(0.75);
}

div.tabTextContainer span {
    position: absolute;
    font-size: auto;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    transition: 0.25s;
}

@media (hover: hover) {
    div.tab:hover {
        -webkit-backdrop-filter: saturate(100%);
        backdrop-filter: saturate(100%);
        -webkit-transform: scale(1.05);
        transform: scale(1.05);
        transition: 0.2s;
        box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
    }
    div.tab:hover div.tabTextContainer {
        background-image: none;
        background-color: #00000000;
        border-radius: 17px;
        opacity: 1;
        transition: 0.2s;
        height: 100%;
        backdrop-filter: blur(0px) brightness(1) contrast(2);
    }
    div.tab:hover img {
        -webkit-transform: scale(1.01);
        transform: scale(1.01);
        opacity: 0.3;
        -webkit-filter: blur(10px);
        filter: blur(10px);
        transition: 0.1s;
    }
    div.tab:hover div.tabTextContainer span {
        opacity: 1;
        font-size: 200%;
        top: 50%;
        left: 50%;
        transition: 0.2s;
    }
}

#wipSmol {
    display: none;
}

@media (max-width: 1090px) {
    div.tab {
        width: 90%;
    }
    #wipBig {
        display: none;
    }
    #wipSmol {
        display: block;
    }
}

@media (min-width: 2200px) {
    div.tab {
        width: 25%;
    }
}


/* Popup stuff */

div.overlay {
    z-index: 9;
    position: fixed;
    visibility: hidden;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.637);
    -webkit-backdrop-filter: brightness(0.25);
    backdrop-filter: brightness(0.25);
    opacity: 0;
    transition: 0.7s;
}

div.popup {
    z-index: 99;
    visibility: hidden;
    overflow: auto;
    border-radius: 20px;
    position: fixed;
    width: 60%;
    height: 65%;
    left: 20%;
    top: 70%;
    padding: 20px;
    background: #8080803f;
    box-shadow: 0 10px 14px 0 rgba(0, 0, 0, 0.137), 0 15px 40px 0 rgba(0, 0, 0, 0.116);
    opacity: 0;
    transition: 0.4s;
    transition-timing-function: cubic-bezier(0.68, -0.6, 0.32, 1.6);
    transform: scale(0);
    -webkit-backdrop-filter: brightness(0.5) blur(10px);
    backdrop-filter: brightness(0.5) blur(10px);
}

div.CloseIcon {
    background-color: #ff000059;
    opacity: 0.8;
    cursor: pointer;
    float: right;
    padding: 4px;
    padding-bottom: 0px;
    transition: 0.2s;
    border-radius: 25%;
    -webkit-tap-highlight-color: transparent;
}

@media(hover: hover) {
    div.CloseIcon:hover {
        background-color: rgb(168, 0, 0);
        box-shadow: 0 10px 14px 0 rgba(255, 0, 0, 0.137), 0 15px 40px 0 rgba(0, 0, 0, 0.116);
        opacity: 1;
        transition: 0.2s;
    }
}

div.CloseIcon:active {
    box-shadow: 0 2px 2px 2px rgba(0, 0, 0, 0.18), 0 3px 3px 3px rgba(0, 0, 0, 0.15);
    background-color: rgb(92, 23, 23);
    opacity: 0.8;
    transition: box-shadow 0.2s, opacity 0s;
}


/* End of popup stuff */

#copyId {
    font-size: 15px;
    cursor: default;
    background-color: #ffffff23;
    display: inline-block;
    padding: 4px;
    border-radius: 9px;
    transition: 0.3s;
    transform: scale(1.25);
}

#copyId:hover {
    box-shadow: 0px 0px 0px 2px #ffffff38;
    transition: 0.3s;
}

#copyId:active {
    box-shadow: 0px 0px 0px 4px #9c9c9c72;
    transition: 0.3s;
}