/* Place your CSS styles in this file */

h1 {
    text-align: center;
    font-family: "Source Sans Pro", sans-serif;
    font-weight: normal;
}

p1 {
    text-align: left;
    font-family: "Source Sans Pro", sans-serif;
    font-weight: normal;
}

body {
    padding: 25px;
    background-color: black;
    background-image: linear-gradient(rgb(31, 31, 31), rgb(8, 139, 122));
    color: white;
    font-size: 25px;
}